/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.task-toggle {
  .mat-button-toggle-label-content {
    width: 100%;
    text-align: start !important;
  }
}

.task-info {
  .mdc-card {
    height: 100%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ol {
  list-style: none;
}
ul ul, ol ul {
  list-style: none;
}
ol ol, ul ol {
  list-style: none;
}


